<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
    <h1>Zhodino</h1>
    <nav>
        <ul>
            <li><a href="{% url 'enterprises' %}">Предприятия</a></li>
            <li><a href="{% url 'sport' %}">Спорт</a></li>
            <li><a href="{% url 'leisure' %}">Отдых</a></li>
            <li><a href="{% url 'services' %}">Услуги</a></li>
        </ul>
    </nav>
</body>
</html>
