{% extends "main/base.html" %}
{% block title %}Отдых{% endblock %}
{% block content %}
   <h2>Варианты отдыха</h2>
    <ul>
        {% for leisure in leisures %}
    <li>
        <strong>{{ leisures.name }}</strong><br>
        {{ leisures.description }}<br>
        Адрес: {{ leisures.addres }}<br>
        {% if leisures.image %}
                <img src="{{ enterprise.image.url }}" alt="{{ enterprise.name }}" width="200">
        {% endif %}
    </li>
    {% empty %}
        <li>Пока нет предприятий.</li>
    {% endfor %}
    </ul>

{% endblock %}